/*
 * Navigation
 * CODEPEN: Responsive navigation system v.51
 * BUILD: 16.07.2020 | anthonysalamin.ch
*/

#logotype {
  cursor: pointer;
}

#hamburger {
  cursor: pointer;
}

.invert {
  color: black !important;
}

.burger-color {
  fill: white;
  transition: fill 0.25s;
}

.switchToBlack {
  fill: black !important;
}

#navi-overlay a:after {
  position: absolute;
  opacity: 0;
  width: 0%;
  height: 1px;
  content: "";
  background: black;
  transition: all 0.3s;
}

#navi-overlay a:after {
  left: 0px;
  bottom: 0px;
}

#navi-overlay a:hover:after {
  opacity: 1;
  width: 100%;
}

.embed-hamburger {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}